<ion-modal-view class="modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Regulamin</h1>
		<a class="button button-clear" ng-click="terms_of_service_modal.hide()">
			<span class="icon ion-close"></span>
		</a>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="row">
			<div class="col">
				<div class="terms-of-service">
					<div id="rule" class="static main-wrapper rounded-10">
						<ol class="list-headline">
							<li>
								Informacje podstawowe oraz definicje
								<ol>
									<li>Ilekroć w Regulaminie występują poniższe pojęcia należy je rozumieć następująco:
										<ol>
											<li>Pixnet - Pixnet spółka z ograniczoną odpowiedzialnością, z siedzibą w Gdyni przy al. Zwycięstwa 96/98, wpisaną do Krajowego Rejestru Sądowego
												pod numerem KRS 0000329512 prowadzonego przez Sąd Rejonowy Gdańsk - Północ w Gdańsku, VIII Wydział Gospodarczy Krajowego Rejestru Sądowego,
												posiadającą NIP o numerze 5862236370, będąca właścicielem i administratorem Serwisu.</li>
											<li>Serwis - niniejszy serwis internetowy prowadzony przez Pixnet </li>
											<li>Regulamin - niniejszy regulamin określający zasady świadczenia usług przez Pixnet i użytkowania Serwisu.</li>
											<li>Ustawa- ustawa z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144, poz. 1204 z późniejszymi zmianami).</li>
										</ol>
									</li>
									<li>Zasadniczym celem prowadzenia przez Pixnet Serwisu jest świadczenie usług hostingu, w rozumieniu art. 14 ust. 1 Ustawy z tj. udostępniania zasobów
										systemu teleinformatycznego (zarówno strony internetowej Serwisu jak i powierzchni serwerowej) w celu przechowywania danych zamieszczanych przez
										użytkownika.
									</li>
									<li>Zgodnie z postanowieniami art. 14 ust. 2 Ustawy Pixnet nie ponosi odpowiedzialności za zawartość Serwisu. Zawartość Serwisu nie jest kontrolowana
										przez Administratora. Odwiedzając Serwis użytkownik może być narażony na dostęp do zawartości o bezprawnym charakterze, której użytkowanie może
										się wiązań z powstaniem określonej szkody po stronie użytkownika.</li>
									<li>Pixnet zobowiązuje się do uniemożliwienia dostępu do zawartości o bezprawnym charakterze niezwłocznie po otrzymaniu urzędowego zawiadomienia lub
										uzyskania wiarygodnej wiadomości. Postanowienia ust. 2 i 3, art. 14 Ustawy stosuje się odpowiednio.</li>
								</ol>
							</li>
							<li>
								Akceptacja warunków
								<ol>
									<li>Korzystając z Serwisu użytkownik wyraża zgodę na warunki użytkowania Serwisu wynikające z Regulaminu.</li>
									<li>Aktualna wersja Regulaminu dostępna jest pod adresem
										<a href="http://www.photoblog.pl/regulamin">http://www.photoblog.pl/regulamin</a>.</li>
									<li>Korzystając z Serwisu użytkownik wyraża zgodę, w rozumieniu art. 10 Ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną na
										otrzymywanie informacji handlowej, wysyłanej na adres poczty elektronicznej podany przez użytkownika podczas rejestracji w Serwisie.</li>
									<li>Korzystając z Serwisu użytkownik dobrowolnie wyraża zgodę, w rozumieniu art. 23 o Ustawy z dnia 29 sierpnia 1997r. o ochronie danych osobowych
										(Dz. U. Nr 133, poz. 883 z późniejszymi zmianami), na przetwarzanie jego danych osobowych, zgłoszonych Pixnet w trakcie rejestracji do lub użytkowania
										Serwisu, a także bezterminowo po zakończeniu jego użytkowania.</li>
									<li>Serwis prowadzi politykę prywatności opartą o powszechnie obowiązujące przepisy prawa w szczególności o Ustawę z dnia 29 sierpnia 1997r. o ochronie
										danych osobowych (Dz. U. Nr 133, poz. 883 z późniejszymi zmianami).</li>
									<li>
										Korzystając z Serwisu użytkownik wyraża ponadto zgodę na przestrzeganie poniższych zasad:
										<ol>
											<li>Zakaz umieszczania w Serwisie zawartości nieprawnej, szkodliwej, obelżywej, krzywdzącej, wulgarnej, obscenicznej, drastycznej, naruszającej
												cudzą prywatność, zawierającej treści rasistowskie lub obrażające uczucia religijne.</li>
											<li>Zakaz działalności w Serwisie w sposób krzywdzący dla innych osób.</li>
											<li>Zakaz podawania się za inne osoby, w szczególności innych użytkowników oraz Pixnet.</li>
											<li>Zakaz umieszczania w Serwisie zawartości do której nie posiada praw rzeczowych.</li>
											<li>Zakaz umieszczania zawartości naruszającej prawo patentowe, tajemnicę handlową lub innych niezgodnych z prawem treści.</li>
											<li>Zakaz umieszczania wirusów, kodu komputerowego, plików lub programów stworzonych aby utrudniać, niszczyć lub ograniczać w jakikolwiek sposób
												funkcjonowania komputera oraz urządzeń peryferyjnych do niego podłączonych.</li>
											<li>Użytkować Serwis w sposób nie utrudniający oraz nie przerywający jego działania lub sieci z nim połączonych. Nie naruszać wymagań i praw sieci
												połączonych z Serwisem.</li>
											<li>Nie używać Serwisu do uzyskiwania lub przechowywania danych osobowych o innych użytkownikach.</li>
											<li>Nie używać Serwisu lub forum z nim związanego do zamieszczania, uzyskiwania danych o działaniach nielegalnych, zawierających treści promujące
												przemoc w stosunku do ludzi lub zwierząt. Dotyczy to również informacji na temat konstrukcji bomb, granatów oraz innych broni.</li>
											<li>Zakaz zamieszczania przez użytkowników w Serwisie przekazów reklamowych lub innych treści zachęcających do dokonania zakupu produktów i usług
												oferowanych zarówno przez samego użytkownika jak i osoby trzecie. Zakaz ten obejmuje również zamieszczanie linków do innych serwisów internetowych
												za pośrednictwem których dokonywany jest obrót produktów i usług.</li>
											<li>Za działanie niezgodne z Regulaminem uznaje się ponadto zamieszczanie linków do galerii internetowych lub innych serwisów internetowych świadczących
												usługi konkurencyjne do usług oferowanych przez Serwis i Pixnet.</li>
											<li>W Serwisie dopuszczalne jest zamieszczanie zawartości jedynie własnego autorstwa lub takiej, do której zamieszczający posiada autorskie prawa
												majątkowe w rozumieniu Ustawy z dnia 4 lutego 1994r. o prawie autorskim i prawach pokrewnych (Dz. U. nr 80, poz. 204 z 2000r. z późniejszymi
												zmianami).
											</li>
										</ol>
									</li>
									<li>
										Umieszczając zawartość w Serwisie użytkownik udziela Pixnet, na czas nieoznaczony, nieodpłatnej licencji niewyłącznej (w rozumieniu Ustawy z dnia 4 lutego
										1994r. o prawie autorskim i prawach pokrewnych- Dz. U. nr 80, poz. 204 z 2000r. z późniejszymi zmianami) na:
										<ol>
											<li>publikowanie zamieszczonej zawartości w Serwisie oraz w innych serwisach internetowych (w sieci Internet, sieci mobilnej oraz na innych polach
												eksploatacji), a także w innych mediach wydawanych przez Pixnet lub osoby trzecie związane z Pixnet</li>
											<li>dokonywanie opracowań zawartości oraz na korzystanie z tych opracowań i rozporządzanie nimi,</li>
											<li>wykorzystywanie zawartości w celach promocji i reklamy Serwisu i innych usług dostępnych w sieciach teleinformatycznych.</li>
										</ol>
									</li>
									<li>Udzielając opisanych punkcie poprzedzającym zezwoleń użytkownik pozostaje właścicielem i dysponentem autorskich praw majątkowych do zawartości.
										W celu uniknięcia dalszych wątpliwości stwierdza się, że wykorzystywanie zawartości na opisanych wyżej zasadach następuje na zasadzie nieodpłatnej
										licencji niewyłącznej (w rozumieniu Ustawy z dnia 4 lutego 1994r. o prawie autorskim i prawach pokrewnych- Dz. U. nr 80, poz. 204 z 2000r. z
										późniejszymi zmianami) udzielonej Pixnet na czas nieoznaczony, wraz z prawem do udzielania przez Pixnet sublicencji osobom trzecim. Udzielenie
										licencji o której mowa powyżej następuje z chwilą zamieszczenia zawartości w Serwisie.</li>
									<li>Pixnet ma prawo emisji reklam wszelkiego rodzaju produktów i usług w trakcie prezentacji zawartości i komentarzy zamieszczonych w Serwisie. Użytkownikom
										nie przysługuje jakiekolwiek wynagrodzenie z tego tytułu.</li>
								</ol>
							</li>
							<li>Dostęp do Serwisu, zawieszenie użytkownika, odmowa dostępu do Serwisu
								<ol>
									<li>Do użytkowania Serwisu dopuszczone są osoby fizyczne posiadające pełną zdolność do czynności prawnych lub osoby fizyczne posiadające ograniczoną
										zdolność do czynności prawnych posiadające zgodę rodziców lub innych przedstawicieli ustawowych. W stosunku do osób fizycznych posiadających
										ograniczoną zdolność do czynności prawnych Pixnet zastrzega sobie prawo do żądania dostarczenia stosownej zgody rodziców lub innych przedstawicieli
										ustawowych, na użytkowanie Serwisu, w dowolnym czasie.</li>
									<li>Dostęp do Serwisu możliwy jest po założeniu osobistego konta użytkownika lub poprzez konto użytkownika założone w serwisie Facebook.com. W przypadku
										użytkowania Serwisu za pośrednictwem konta w serwisie Facebook.com użytkownik powinien się liczyć z tym, że jego aktywność w Serwisie zostanie
										również odnotowana i utrwalona w serwisie Facebook.com. </li>
									<li>Zgodnie z postanowieniami art. 14 Ustawy, administrator Serwisu ma prawo do zawieszenia użytkowania Serwisu przed danego użytkownika, oraz zamknięcia
										jego konta użytkownika wraz z zawartością umieszczoną w Serwisie, a także do zablokowania jego dostępu do Serwisu. Do zamknięcia konta może dojść
										wyłącznie gdy działalność użytkownika w Serwisie wypełniała będzie przesłanki opisane w art. 14 ust. 1 Ustawy</li>
									<li>Administrator zapewnia możliwość zamknięcia konta założonego przez użytkownika w Serwisie na jego życzenie.</li>
								</ol>
							</li>
							<li>Usługi płatne
								<ol>
									<li>Pixnet może udostępniać usługi płatne obejmujące dostęp do publikowanych w Serwisie i wyraźnie oznaczonych materiałów o charakterze ekskluzywnym.</li>
									<li>Usługa płatna nabywana jest przez użytkowników poprzez formy płatności udostępnione i szczegółowo opisane na stronach Serwisu.</li>
								</ol>
							</li>
							<li>Naruszenia zasad i reklamacje
								<ol>
									<li>Wszelkie naruszenia zasad zawartych w Regulaminie winny być zgłaszane niezwłocznie po ich wystąpieniu. Z uwagi na wygodę użytkowników zaleca się
										aby przedmiotowe zgłoszenie zostało złożone za pośrednictwem poczty elektronicznej na adres:
										<a href="mailto:pomoc@photoblog.pl" target="_blank">pomoc@photoblog.pl</a> lub poprzez panel kontaktowy pod adresem
										<a href="http://www.photoblog.pl/kontakt">http://www.photoblog.pl/kontakt</a>.</li>
									<li>Użytkownikom zaleca się aby zgłaszane reklamacja zawierały co najmniej:
										<ol>
											<li>oznaczenie podmiotu składającego reklamację (imię i nazwisko/nazwa, adres, adres poczty elektronicznej),</li>
											<li>przedmiot reklamacji,</li>
											<li>wszystkie pozostałe okoliczności uzasadniające reklamację.</li>
										</ol>
									</li>
									<li>Administrator rozpatruje reklamacje niezwłocznie po ich otrzymaniu.</li>
								</ol>
							</li>
							<li>Zmiany w Serwisie oraz w Regulaminie Serwisu
								<ol>
									<li>Administrator zastrzega sobie prawo do:
										<ol>
											<li>dokonywania zmian w Serwisie,</li>
											<li>wprowadzania zmian w Regulaminie.</li>
										</ol>
									</li>
									<li>Wszelkie zmiany obowiązują od dnia wskazanego w zmienionym Regulaminie, który to dzień nie może jednak przypadać wcześniej niż na dzień opublikowania
										zmienionego Regulaminu w Serwisie. O każdej zmianie Regulaminu Pixnet zawiadamia m.in. poprzez:
										<ol>
											<li>pocztę elektroniczną- wiadomość wysłaną na adres e-mail podany przy zakładaniu konta w Serwisie,</li>
											<li>lub wiadomość prywatną wysłaną użytkownikowi w ramach Serwisu,</li>
											<li>lub wpis na stronie redakcyjnej Serwisu -
												<a href="http://www.photoblog.pl/photoblog">http://www.photoblog.pl/photoblog</a>.</li>
										</ol>
									</li>
									<li>W terminie 7 dni od dnia otrzymania zawiadomienia o zmienionym Regulaminie użytkownikowi przysługuje prawo do złożenia na adres: reklamacje@photoblog.pl
										oświadczenia o braku zgody na obowiązywanie w stosunku do niego zmienionej treści Regulaminu, które to oświadczenie będzie jednoznaczne z wypowiedzeniem
										stosunku prawnego będącego podstawą świadczenia przez Pixnet usług.</li>
									<li>W przypadku złożenia oświadczenia, o którym mowa w zdaniu poprzedzającym Pixnet zakończy świadczenie usług w stosunku do oświadczającego użytkownika,
										w terminie 7 dni roboczych od dnia złożenia opisanego wyżej oświadczenia.</li>
									<li>Rozwiązanie bądź wygaśnięcie opisanej wyżej usługi pozostaje bez skutku dla praw nabytych przez Pixnet w trybie określonym w §2 pkt. 3, 4, 7 i
										8 Regulaminu.</li>
								</ol>
							</li>
						</ol>


						<h1 class="headline blk">Regulamin</h1>
						<h3 class="subheadline">Świadczenia usługi publicznego udostępniania Serwisu Photoblog.pl</h3>
						<ol>
							<li>
								Podmiotem świadczącym usługę drogą elektroniczną w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. Nr 144, poz.
								1204 ze zmianami), polegającą na publicznym udostępnianiu serwisu internetowego Photoblog.pl, w tym jego powierzchni reklamowej, jest Agora Spółka
								Akcyjna (dalej zwana "Agorą") z siedzibą w Warszawie, pod adresem ul. Czerska 8/10, 00-732 Warszawa, wpisana do rejestru przedsiębiorców Krajowego
								Rejestru Sądowego prowadzonego przez Sąd Rejonowy dla m.st. Warszawy, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego, pod numerem KRS 59944,
								posiadająca kapitał zakładowy w wysokości 50.937.386 złotych, wpłacony w całości, NIP: 526-030-56-44, adres serwisu korporacyjnego www.agora.pl.
							</li>
							<li>Prawa lub licencje do Serwisu Photoblog.pl zastrzeżone są na rzecz Agory, a prawa lub licencje do jego poszczególnych elementów tekstowych, graficznych,
								zdjęć, materiałów audiowizualnych, aplikacji i baz danych są zastrzeżone na rzecz Agory lub odpowiednio na rzecz podmiotów (w tym użytkowników
								serwisu Photoblog.pl), których materiały - na podstawie współpracy z Agorą lub kontrahentem Agory Pixnet Sp. z o.o. (dalej zwana "Pixnet") z siedzibą
								w Gdyni ul. Świętojańska 104a/1 - są udostępniane na stronach serwisu internetowego Photoblog.pl. Zarówno serwis internetowy Photoblog.pl, jak
								i każdy z jego elementów podlegają ochronie przewidzianej przez polskie oraz międzynarodowe prawo, w tym przepisy ustawy z dnia 4 lutego 1994 roku
								o prawie autorskim i prawach pokrewnych, ustawy z dnia 27 lipca 2001 roku o ochronie baz danych oraz ustawy z dnia 16 kwietnia 1993 roku o zwalczaniu
								nieuczciwej konkurencji.

							</li>
							<li>Korzystanie z materiałów tekstowych, graficznych, zdjęć, materiałów audiowizualnych, aplikacji i baz danych oraz innych elementów zawartych w serwisie
								internetowym Photoblog.pl, nie oznacza nabycia przez użytkowników jakichkolwiek praw na dobrach niematerialnych do utworów lub baz danych w nich
								zawartych.

							</li>

							<li>Mogą Państwo korzystać z serwisu internetowego Phtoblog.pl oraz z utworów, przedmiotów praw własności intelektualnej oraz baz danych w ramach dozwolonego
								użytku, wyznaczonego przez przepisy ustawy o prawie autorskim i prawach pokrewnych lub ustawy o ochronie baz danych, przy czym takie korzystanie
								nie może naruszać normalnego korzystania z utworu lub bazy danych lub godzić w słuszne interesy Agory oraz podmiotów, których utwory lub bazy danych
								- na podstawie współpracy z Agorą lub Pixnet - są udostępniane na stronach serwisu internetowego Photoblog.pl.
							</li>
							<li>O ile co innego nie wynika z informacji prezentowanej przy danym materiale, mogą Państwo zamieszczać odnośniki prowadzące do udostępnianych na stronach
								serwisu internetowego materiałów tekstowych, graficznych, zdjęć, materiałów audiowizualnych, aplikacji i baz danych oraz innych elementów zawartych
								w serwisie internetowym Photoblog.pl. Nie zezwalamy jednak na zamieszczanie odnośników do materiałów udostępnianych w serwisie internetowym Photoblog.pl
								na stronach naruszających prawo, prawem chronione dobra osób trzecich, zasady współżycia społecznego lub dobre obyczaje.
							</li>
							<li>O ile co innego nie wynika z poszczególnych usług udostępnianych w obrębie serwisu internetowego Photoblog.pl treści udostępniane są Państwu nieodpłatnie.
								Ewentualne odpłatne udostępnienie treści w Serwisie Photoblog.pl wymaga zawarcia odrębnej umowy określającej zakres i zasady odpłatnego udostępnienia
								treści oraz wysokość należnego z tego tytułu wynagrodzenia.
							</li>
							<li>Niniejszy "Regulamin świadczenia usługi publicznego udostępniania Serwisu Photoblog.pl" nie narusza praw użytkowników do treści zamieszczanych przez
								nich na stronach serwisu internetowego Photoblog.pl.
							</li>
							<li>Korzystanie z serwisu Photoblog.pl jest możliwe przy spełnieniu następujących wymagań technicznych:
								<ol>
									<li> minimalne wymagania: łącze internetowe o przepustowości 1Mb/s; komputer z procesorem Celeron 2.4GHz; 1GB pamięci operacyjnej RAM i 128MB pamięci
										ram karty graficznej,
									</li>
									<li>optymalne wymagania: łącze internetowe o przepustowości co najmniej 3Mb/s; komputer z procesorem Core 2 Duo 1.6GHz, Intel Atom N330 lub lepszym;
										2GB pamięci RAM.
									</li>
								</ol>
							</li>
							<li>Zasady udostępniania konta w serwisie Photoblog.pl oraz zamieszczania i utrzymywania treści w Serwisie Photoblog.pl określa regulamin http://www.photoblog.pl/regulamin.

							</li>
							<li>Zasady odpłatnego zamieszczania reklam w serwisie Photoblog.pl przez Agorę określają "Zasady ogólne zamieszczania reklam w portalu Gazeta.pl" dostępne
								pod adresem http://bi.gazeta.pl/im/0/13169/m13169390,ZASADY-GAZETA-2013.pdf wraz ze "Specyfikacją techniczną produktów reklamowych portalu Gazeta.pl"
								dostępną pod adresem http://adv.gazeta.pl/pub/inb/reklama/specyfikacja.pdf. W celu złożenia zamówienia na zamieszczenie przez Agorę reklam w serwisie
								internetowym Photoblog.pl, prosimy o kontakt z działem handlowym, pocztą elektroniczną na adres reklama@agora.pl.
							</li>

							<li>Polityka cookies i innych podobnych technologii:
								<ol>
									<li> W związku z udostępnianiem serwisu internetowego Photoblog.pl Agora stosuje tzw. cookies, tj. informacje zapisywane przez serwery na urządzeniu
										końcowym użytkownika, które serwery mogą odczytać przy każdorazowym połączeniu się z tego urządzenia końcowego, może także używać innych technologii
										o funkcjach podobnych lub tożsamych z cookies. W niniejszym dokumencie, informacje dotyczące cookies mają zastosowanie również do innych podobnych
										technologii stosowanych w ramach serwisu Photoblog.pl. Pliki cookies (tzw. "ciasteczka") stanowią dane informatyczne, w szczególności pliki tekstowe,
										które przechowywane są w urządzeniu końcowym użytkownika serwisu internetowego Photoblog.pl. Cookies zazwyczaj zawierają nazwę domeny serwisu
										internetowego, z którego pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
									</li>

									<li>Pliki cookies wykorzystywane są w celu:
									</li>
									<br>  (i) dostosowania zawartości stron serwisu internetowego do preferencji użytkownika oraz optymalizacji korzystania ze stron internetowych; w
									szczególności pliki te pozwalają rozpoznać urządzenie użytkownika serwisu internetowego i odpowiednio wyświetlić stronę internetową, dostosowaną
									do jego indywidualnych potrzeb,
									<br>
									<br> (ii) tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy serwisu korzystają ze stron internetowych, co umożliwia ulepszanie
									ich struktury i zawartości,
									<br>
									<br> (iii) utrzymania sesji użytkownika serwisu internetowego (po zalogowaniu), dzięki której użytkownik nie musi na każdej podstronie serwisu ponownie
									wpisywać loginu i hasła,
									<br>
									<br> (iv) dostarczania użytkownikom treści reklamowych bardziej dostosowanych do ich zainteresowań.

									<li>W ramach serwisu internetowego Photoblog.pl możemy stosować następujące rodzaje plików cookies:
										<br>  (i) "niezbędne" pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach serwisu internetowego, np. uwierzytelniające pliki cookies
										wykorzystywane do usług wymagających uwierzytelniania w ramach serwisu,
										<br>
										<br> (ii) pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach serwisu,
										<br>
										<br> (iii) pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych serwisu,
										<br>
										<br> (iv) "funkcjonalne" pliki cookies, umożliwiające "zapamiętanie" wybranych przez użytkownika ustawień i personalizację interfejsu użytkownika,
										np. w zakresie wybranego języka lub regionu, z którego pochodzi użytkownik, rozmiaru czcionki, wyglądu strony internetowej itp.,
										<br>
										<br> (v) "reklamowe" pliki cookies, umożliwiające dostarczanie użytkownikom treści reklamowych bardziej dostosowanych do ich zainteresowań.
									</li>
									<li> W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików
										cookies w urządzeniu końcowym użytkownika. Użytkownicy serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia
										te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej
										bądź informować o ich każdorazowym zamieszczeniu w urządzeniu użytkownika serwisu internetowego. Szczegółowe informacje o możliwości i sposobach
										obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej). Niedokonanie zmiany ustawień w zakresie cookies
										oznacza, że będą one zamieszczone w urządzeniu końcowym użytkownika, a tym samym będziemy przechowywać informacje w urządzeniu końcowym użytkownika
										i uzyskiwać dostęp do tych informacji.
									</li>
									<li>Wyłączenie stosowania cookies może spowodować utrudnienia korzystanie z niektórych usług w ramach serwisu internetowego Photoblog.pl, w szczególności
										wymagających logowania. Wyłączenie opcji przyjmowania cookies nie powoduje natomiast braku możliwości czytania lub oglądania treści zamieszczanych
										w serwisie internetowym Photoblog.pl z zastrzeżeniem tych, do których dostęp wymaga logowania.
									</li>
									<li>Pliki cookies mogą być zamieszczane w urządzeniu końcowym użytkownika serwisu internetowego Photoblog, a następnie wykorzystywane przez współpracujących
										z Agorą reklamodawców, firmy badawcze oraz dostawców aplikacji multimedialnych.
									</li>
									<li>Ochrona prywatności stała się jednym z kluczowych zagadnień w rozwoju Internetu i związanego z nim handlu elektronicznego. Jako wydawca serwisów
										internetowych uczestniczymy aktywnie w inicjatywach i programach mających na celu stworzenie standardu ochrony prywatności w Internecie. Jeśli
										reguły takie zostaną wypracowane, poddamy weryfikacji naszą politykę ochrony prywatności oraz zabiegać będziemy o uzyskanie stosownego certyfikatu.
									</li>
									<li>W przypadku pytań użytkowników dotyczących stosowanej przez Agorę polityki prywatności, prosimy o kontakt na adres wskazany w punkcie 1. lub pocztą
										elektroniczną na adres pomoc@agora.pl,
									</li>
								</ol>
							</li>
							<li> Reklamacje dotyczące publicznego udostępniania serwisu internetowego Photoblog.pl należy składać pocztą elektroniczną na adres pomoc@agora.pl lub
								pisemnie na adres AGORY podany w punkcie 1 niniejszego regulaminu. Reklamacje będą rozpatrywane w ciągu 14 dni od ich otrzymania przez Agorę. Odpowiedź
								na reklamację zostanie wysłana na adres składającego reklamację wskazany w reklamacji.
							</li>
							<li> Niniejszy "Regulamin świadczenia usługi publicznego udostępniania Serwisu Photoblog.pl" dostępny jest:
								<ol>
									<li> na stronie internetowej pod adresem http://www.photoblog.pl/regulamin w formie umożliwiającej pobranie go oraz wydrukowanie, oraz
									</li>
									<li> pod adresem Agory wskazanym w punkcie 1 w formie drukowanej.
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
