<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">

        <ion-slide style="width: {{innerWidth}}">
          <div class="slide-1">

            <div class="text-center">

              Zachowaj swoje najlepsze wspomnienia i dziel się nimi ze znajomymi.
            </div>
            <img src="img/logo-w.png" class="app-logo">
          </div>

        </ion-slide>
        <ion-slide style="width: {{innerWidth}}">
          <div class="slide-2">
            <div class="slide-header">
              <h2>Poznawaj ludzi</h2>
            </div>
            <div class="text">
              <ul>
                <li>
                  przeglądaj i poznawaj ludzi ze swojej okolicy oraz całej Polski
                </li>
                <li>znajdź i obserwuj interesujących ludzi
                </li>
                <li>
                  komentuj i oceniaj ich zdjęcia
                </li>
              </ul>
            </div>
          </div>
        </ion-slide>
        <ion-slide style="width: {{innerWidth}}">
          <div class="slide-3">
            <div class="slide-header">
              <h2>Dodawaj zdjęcia</h2>
            </div>
            <div class="text">
              <ul>
                <li>
                  dodawaj zdjęcia z galerii lub aparatu
                </li>
                <li>
                  uzywaj filtrów i dodatków
                </li>
                <li>
                  otrzymuj komentarze i oceny
                </li>
              </ul>
            </div>
          </div>
        </ion-slide>
        <ion-slide style="width: {{innerWidth}}">
          <div class="slide-4">
            <div class="slide-header">
              <h2>Zaczynajmy!</h2>
            </div>
            <div class="text">
              <ul>
                <li>
                  przy pomocy przycisku
                  <strong class="fb">facebook</strong> w 10 sekund założysz konto lub zalogujesz się na już istniejące
                </li>

                <li>
                  możesz też zalogować się przy pomocy nazwy konta i hasła używając przycisku "zaloguj się"
                </li>
              </ul>
            </div>
          </div>
        </ion-slide>

      </ion-slide-box>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <!--
        <a class="google-sign-in button button-block icon-left ion-social-google" ng-click="googleSignIn()">
          <span class="btn-copy">Google</span>
        </a>
-->

        <a class="facebook-sign-in button button-block icon-left ion-social-facebook" ng-click="facebookSignIn()">
          <span class="btn-copy">Facebook</span>
        </a>
        <a class="button button-block button-outline" ui-sref="auth.login">
          Zaloguj się
        </a>
        <!--
        <div class="other-options-outer">
          <a ng-show="!show_hidden_actions" animation="'fade'" ng-click="toggleHiddenActions()" class="other-options button button-clear button-block">
            Show more
          </a>
          <div ng-cloak ng-show="show_hidden_actions" animation="'fade'" class="hidden-actions ng-cloak ng-hide">
            <a class="twitter-sign-in button button-block icon-left ion-social-twitter" ng-click="twitterSignIn()">
              <span class="btn-copy">Twitter</span>
            </a>
          </div>
        </div>
      -->
        <section ng-include="'views/app/legal/legal-notice.html'"></section>
      </div>
    </div>
  </ion-content>
</ion-view>
