.add-view {
  .phone-gallery {
    /* Masonry container */
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .gallery-item {
      /* Masonry bricks or child elements */
      display: inline-block;
      margin: 0;
      width: calc(100% / 3);
      float: left;
      line-height: auto;
      height: 90px;
      overflow: hidden;
      padding: 2px;

      .gallery-item-image {
        width: 100%;
      }
    }

    .open-gallery,
    .take-picture {
      text-align: center;
      height: 90px;

      .icon {
        font-size: 30px;
        line-height: 30px;
        vertical-align: middle;
      }

      .caption {
        font-weight: 200;
        line-height: 30px;
        vertical-align: middle;
        display: block;
      }
    }

    .take-picture {
      height: 180px;
      width: 66.66666%;
      background: url("../img/take-picture-bg.jpg");
      background-position: 50% 50%;

      .icon {
        line-height: 60px;
        font-size: 40px;
      }

      .caption {
        font-size: 24px;
        line-height: 60px;
        font-weight: 200;
      }
    }
  }

  ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
  }
}
.add-view3 {
  .preview-photo{
    width: 100%;
  }
  .note-body {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#ddd;
}
.item.item-toggle {
  border: 0;
}

}