<ion-view class="moderation-view" cache-view="true" view-title="Moderacja komentarzy" ng-controller="ModerationCtrl">
  <ion-content has-bouncing='false' class="profile-content">
    <div ng-repeat="(key, post) in postsToModerate.commentsByFid | orderBy: -key" ng-hide="commentsList[post[0].fileid].allModerated">
      <div class="moderation-post-preview" style="background-image: url({{post[0].entry_photo}})">

      </div>

      <section ng-include="'views/app/partials/moderation.html'"></section>
    </div>

  </ion-content>
</ion-view>
