<ion-view class="singlepost-view" view-title="Post" ng-controller="PasswordProtectionCtrl" can-swipe-back="true">

  <ion-content overflow-scroll="true" has-bouncing="false">

    <section  ng-if="posts[0].picture" ng-include="'views/app/partials/posts.html'" class="post-card-outer"></section>
    <a ng-hide="true" class="moderation-alert" ui-sref="app.feedComment_moderation">
      3 komentarze do moderacji
      <i class="ion-ios-arrow-right go-icon"></i>
    </a>

    <section ng-if="posts[0].picture" ng-include="'views/app/partials/comments.html'" class="isPassword"></section>

    <section ng-if="isPassword" ng-include="'views/app/partials/password-locked-screen.html'" class="isPassword"></section>


  </ion-content>




</ion-view>
