<ion-view ng-class="{'own-profile': myProfile}" class="profile-view" view-title="Profile">

  <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll" overflow-scroll="true" ng-controller="PasswordProtectionCtrl">

    <ion-alternative-refresher ng-if="!isPassword" spinner="spiral" on-refresh="doRefresh()" pulling-icon="ion-ios-refresh-empty">
    </ion-alternative-refresher>


    <section ng-if="isPassword" ng-include="'views/app/partials/password-locked-screen.html'" class="isPassword"></section>
    <section ng-if="!isPassword">
    <div class="row profile-data">
      <div class="col">
        <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-if="profileData.profile.avatar" ng-src="{{profileData.profile.avatar}}" spinner-on-load>
                      <img  class="user-image" ng-if="!profileData.profile.avatar" ng-src="img/not-logged-user.png" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="user-name">&nbsp;{{profileData.profile.uid}}&nbsp;</h2>
                <p class="user-resume">
                  Obserwujących:
                  <b>{{profileData.profile.reverse_friend_count}}</b> &nbsp;&nbsp; Obserwowanych:
                  <b>{{profileData.profile.friend_count}}</b>
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <p class="user-resume">
                  Miasto:
                  <b>{{profileData.profile.city}}</b>
                  <br> {{profileData.profile.about_me}}
                </p>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row user-interactions">
      <div class="col">
        <div class="row split-actions" ng-if="!myProfile">
          <div class="col">

            <button ng-if="profileData.profile && !profileData.profile.is_friend" ng-click="followUser(profileData.profile.uid)" class="button button-block highlighted" >
              Obserwuj
            </button>
            <button ng-click="unfollowUser(profileData.profile.uid)" ng-if="profileData.profile && profileData.profile.is_friend" class="button button-block">
              Usuń z obserwowanych
            </button>
          </div>

        </div>
        <div class="row split-actions" ng-if="myProfile">
          <div  class="col">
            <button class="button button-block icon-left ion-gear-a settings-button" ui-sref="app.settings">
              Ustawienia
            </button>
          </div>


          <div class="col">
            <button class="button button-block icon-left ion-gear-a settings-button" ng-click="logout()">
              Wyloguj
            </button>
          </div>
        </div>
        <!--
        <div class="row split-actions">
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: ('app.profile.posts' | includedByState)}" nav-transition="none" ng-click="getUserPosts(user._id)" role="tab"><b>{{user.followers}}</b> Posts</a>
            </p>
          </div>
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: ('app.profile.likes' | includedByState)}" nav-transition="none" ng-click="getUserLikes(user._id)" role="tab"><b>{{user.following}}</b> Likes</a>
            </p>
          </div>
        </div>
      -->
      </div>
    </div>
    <div class="profile-posts" ng-class="{grid : postsGrid === true}" view-title="Profile">
      <div class="row postsview-row">
        <div class="col col-50 button button-stable postsview" ng-click="postsGridEnable(true)">
          <i class="ion-grid"></i>
        </div>
        <div class="col col-50 button button-stable postsview" ng-click="postsGridEnable(false)">
          <i class="ion-navicon"></i>
        </div>
      </div>


          <section ng-include="'views/app/partials/posts.html'" class="post-card-outer"></section>



      <section ng-include="'views/app/partials/placeholder-while-loading.html'" ng-hide="posts.length > 0">
      </section>
      <ion-infinite-scroll ng-hide="noMorePosts" Overflow-scroll="true" ng-if="posts.length > 0" on-infinite="!noMorePosts && scrollNextPage()" distance="10%">
      </ion-infinite-scroll>
    </div>
  </section>

  </ion-content>

</ion-view>
