
<ion-view class="profile-likes" view-title="Profile">
  <div class="row user-related-content">
    <masonry preserve-order style="width: 100%;">

      <div class="masonry-brick" ng-repeat="post in likes" style="width: 32%;">
        <img ng-src="{{post.picture}}" style="width:100%;">
      </div>
    </masonry>
  </div>
</ion-view>
