<ion-view class="profile-posts" ng-class="{grid : postsGrid === true}" view-title="Profile">
  <div class="row postsview-row">
    <div class="col col-50 button button-stable postsview" ng-click="postsGridEnable(true)">
      <i class="ion-grid"></i>
    </div>
    <div class="col col-50 button button-stable postsview" ng-click="postsGridEnable(false)">
      <i class="ion-navicon"></i>
    </div>
  </div>
  <div class="row user-related-content">
    <div class="col col-100 user-related-content-item" ng-repeat="post in posts">
      <section ng-include="'views/app/partials/post-card.html'" class="post-card-outer"></section>
    </div>
  </div>

  <section ng-include="'views/app/partials/placeholder-while-loading.html'" ng-hide="posts.length > 0">
  </section>
  <ion-infinite-scroll Overflow-scroll="true" ng-if="posts.length > 0" on-infinite="getPosts()" distance="10%">
  </ion-infinite-scroll>
</ion-view>
