<ion-view class="notification-view" view-title="Powiadomienia {{tabName}}">
  <ion-content has-bouncing='false' class="profile-content" overflow-scroll="true">

    <div class="content  notifications">

      <a ng-if="awaitingModerateLength" class="moderation-alert" native-transitions ui-sref="app.{{tabName}}Comment_moderation">
        <span class="ion-ios-chatboxes left-icon"></span>Komentarze do moderacji ({{awaitingModerateLength}})
        <i class="ion-ios-arrow-right go-icon"></i>
      </a>
      <div class="list">
        <div ng-repeat="s in spy | limitTo:10">
          {{s.data}}
          <a native-transitions class="item" ng-class="$index == 0 ? 'unread' : ''" href="#" ui-sref="app.{{tabName}}SinglePost({postId:s.data.photo_id})">

            <img src="{{s.data.thumb}}" class="thumb" />
            <div class="notification-text">
              {{s.txtBeforeUid}}
              <strong class="uid">{{s.username}}</strong> {{s.txt}}
              <div class="date">
                <i class="{{s.ico}}"></i>
                <time-ago from-time={{s.date}}></time-ago>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
