<ion-view class="add-view" view-title="Add" hide-nav-bar="true">

  <ion-content hide-nav-bar="true">
    <div class="phone-gallery" ng-hide="photoGallery.length < 2">
      <div class="gallery-item take-picture" ng-click="takePicture()">
        <div class="caption">ZRÓB</div>
        <i class="icon ion-camera"></i>
        <div class="caption">ZDJĘCIE</div>
      </div>
      <div class="gallery-item" ng-repeat="photo in photoGallery | limitTo: 25">
        <img ng-if="isIOS" ng-src="{{photo.url}}" on-tap="runEditor(null, photo.id, photo)" class="gallery-item-image">
        <img ng-if="!isIOS" ng-src="{{photo.thumbnailURL}}" on-tap="runEditor(photo.nativeURL)" class="gallery-item-image">
      </div>
      <div class="gallery-item open-gallery" ng-click="openGallery()">
        <div class="caption">OTWÓRZ</div>
        <i class="icon ion-images"></i>
        <div class="caption">GALERIĘ</div>
      </div>
    </div>

    <ion-spinner ng-hide="photoGallery.length > 2"></ion-spinner>

  </ion-content>

  </ion-vew>
 