<ion-view class="notification-view" view-title="{{tabName}}">

  <ion-content has-bouncing='false' class="explore-content" overflow-scroll="true">
    <ion-alternative-refresher spinner="spiral" on-refresh="getList(whichData)" pulling-icon="ion-ios-refresh-empty">
    </ion-alternative-refresher>

    <ul class="explore-tabs">
      <li ng-click="getList('latest')" ng-class="whichData == 'latest' ? 'active' : ''">Latest</li>
      <li ng-click="getList('pro')" ng-class="whichData == 'pro' ? 'active' : ''">Pro</li>
      <li>Near you</li>
    </ul>
    <ul class="explore-list">
      <li ui-sref="app.{{::tabName}}SinglePost({postId:post.fileid, uid: post.uid})" ng-repeat="post in list" ng-class="$index == 0 ? 'big' : ''" style="background-image: url({{post.photo}})">

      </li>
      <li ng-if="list.length < 1" class="loading">
        <ion-spinner></ion-spinner>
      </li>
    </ul>
    <ion-infinite-scroll Overflow-scroll="true" ng-if="list.length > 0" on-infinite="getData()" distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
