<ion-view class="feed-view" hide-nav-bar="true">

  <ion-content overflow-scroll="true" has-bouncing="false">
    <ion-alternative-refresher spinner="spiral" on-refresh="getNewData()" pulling-icon="ion-ios-refresh-empty">
    </ion-alternative-refresher>
    <!-- Refresh to get the new posts-->

    <!--
    <div ng-repeat="post in feed.posts track by post.fid">

      <section ng-include="'views/app/partials/post-card.html'" class="post-card-outer">
      </section>


    </div>
    -->
    <section ng-include="'views/app/partials/posts.html'" class="post-collection"></section>

    <section ng-include="'views/app/partials/placeholder-while-loading.html'" ng-hide="posts.length > 0">
    </section>


    <!-- Infinit scroll  -->
    <ion-infinite-scroll Overflow-scroll="true" ng-if="posts && moreDataCanBeLoaded()" on-infinite="scrollFeed()" distance="10">
    </ion-infinite-scroll>
  </ion-content>


</ion-view>
