<ion-tabs class="tabs-light tabs-icon-top">
  <ion-tab title="Centrala" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref-active="active" ui-sref="app.feed" native-ui-sref="app.feed" native-options="{type: 'fade'}">
    <!-- Tab 1 content -->
    <ion-nav-view name="app-feed"></ion-nav-view>

  </ion-tab>

  <ion-tab title="Przeglądaj" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" ui-sref-active="active" ui-sref="app.explore">
    <!-- Tab 1 content -->
    <ion-nav-view name="app-explore"></ion-nav-view>

  </ion-tab>

  <ion-tab title="Dodaj" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref-active="active" ui-sref="app.add">
    <!-- Tab 1 content -->
    <ion-nav-view name="app-add"></ion-nav-view>

  </ion-tab>

  <ion-tab title="Powiadomienia" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" ui-sref-active="active" ui-sref="app.spy" native-ui-sref="app.spy"
      native-options="{type: 'fade'}">
    <ion-nav-view name="app-spy"></ion-nav-view>

    <!-- Tab 3 content -->
    </ion-tab>


    <ion-tab title="Mój profil" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref-active="active" ui-sref="app.myProfile(userId)" native-ui-sref="app.myProfile.posts(userId)"
        native-options="{type: 'fade'}">
      <!-- Tab 2 content -->
      <ion-nav-view name="app-myProfile"></ion-nav-view>
      </ion-tab>
</ion-tabs>

<ion-nav-bar class="bar-light">
  <ion-nav-back-button>
  </ion-nav-back-button>


</ion-nav-bar>
<network-error></network-error>

<div ng-photoswipe slides="vm.slides" open="vm.open" slide-selector="{{vm.selector}}" on-close="vm.closeGallery()" options="vm.opts"></div>
