<ion-view view-title="Shop" class="shop-view">
  <ion-tabs class="tabs-icon-top tabs-striped tabs-background-balanced tabs-color-light shop-tabs">
    <ion-tab title="Home" ui-sref="app.shop.home">
      <ion-nav-view name="shop-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Popular" ui-sref="app.shop.popular">
      <ion-nav-view name="shop-popular"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sale" ui-sref="app.shop.sale">
      <ion-nav-view name="shop-sale"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
