<div class="comments-list" ng-controller="CommentsCtrl">

    <div class="new-comment-outer row row-center">
        <form class="new-comment-form">
            <div class="col" ng-show="current_post.comment_settings.permission">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
						<input ng-disabled="postingComment" type="text" placeholder="Skomentuj" ng-model="commentText" required>
					</label>
                    <button ng-hide="!commentText" class="send-comment-button button button-small" ng-click="putComment(this, commentText)" ng-disabled="postingComment">
						<span ng-hide="postingComment">Ok</span>
						<ion-spinner icon="ios-small" ng-show="postingComment"></ion-spinner>
					</button>

                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col cant-comment-info ng-hide" ng-hide ng-if="!current_post.comment_settings.permission">

            <strong>{{current_post.comment_settings.info}}</strong>

        </div>

        <div class="col cant-comment-info ng-hide" ng-hide ng-show="moderationInfo.length > 0">

            <strong class="energized">{{moderationInfo}}</strong>

        </div>

    </div>



    <div class="people-comment row" ng-if="!comment.toModerate" ng-repeat="comment in current_post.comments_list | orderBy: '-sort_time'">
        <div class="col col-top col-20">
            <!-- We need a wrapper with width set for the preload image directive -->
            <div class="user-image-outer">
                <a ng-click="comment.user && navigateToUserProfile(comment.user);">
                    <pre-img ratio="_1_1" helper-class="rounded-image">
                        <img class="user-image" ng-src="{{comment.user ? comment.avatar : '/img/not-logged-user.png'}}" spinner-on-load>

                    </pre-img>
                </a>
            </div>

        </div>
        <div class="col col-top">
            <div class="row user-data">
                <div class="col">
                    <a class="name" ng-click="comment.user && navigateToUserProfile(comment.user)" ng-class="{notLogged: !comment.user}">{{ comment.commentator_nick }}</a>
                    <p class="comment" ng-click="current_post.comment_settings.permission && replyClicked(comment.cid)">{{ comment.text }}</p>

                </div>
            </div>
            <div class="replies">
                <div class="reply-comment row" ng-repeat="reply in comment.replies | orderBy: 'reply_comment_time'" ng-if="!reply.reply_toModerate">
                    <div class="col col-top col-20">
                        <!-- We need a wrapper with width set for the preload image directive -->
                        <div class="user-image-outer">
                            <a ng-click="reply.reply_user && navigateToUserProfile(reply.reply_user)">
                                <pre-img ratio="_1_1" helper-class="rounded-image">
                                    <img class="user-image" ng-src="{{ reply.reply_user ? reply.reply_avatar : '/img/not-logged-user.png' }}" spinner-on-load>
                                </pre-img>
                            </a>
                        </div>
                    </div>
                    <div class="col col-top">
                        <div class="row user-data">
                            <div class="col">
                                <a class="name" ng-class="{notLogged: !reply.reply_user}" ng-click="navigateToUserProfile(reply.reply_user)">{{ reply.reply_user}}</a>
                                <p class="comment" ng-click="current_post.comment_settings.permission && replyClicked(comment.cid)">{{ reply.reply_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-center new-reply-outer" ng-show="currentReplyOpened == comment.cid && current_post.comment_settings.permission">
      <form class="new-reply-form">
          <div class="col">
                    <div class="item item-input-inset reply-input">

                                <label class="item-input-wrapper">
									<input type="text" ng-disabled="postingReply" placeholder="Odpowiedz" ng-model="replyText.body" required>
								                </label>
                                <button ng-hide="!replyText.body" class="send-comment-button button button-small" ng-click="putReply(replyText, comment.cid)" ng-disabled="postingReply">
									<span ng-hide="postingReply">Ok</span>
									<ion-spinner icon="ios-small" ng-show="postingReply"></ion-spinner>
								</button>


                    </div>
                  </div>
                      </form>
                </div>
            </div>

        </div>
    </div>



</div>
