<div class="comments-list">

  <div ng-repeat="comment in commentsList[post[0].fileid]" class="comment-outer" ng-class="{timer : comment.timer}">

    <section ng-include="'views/app/partials/moderation-comment-to-moderate.html'" ng-if="comment.toModerate"></section>
    <div ng-if="!comment.toModerate && comment.repliesToModerate" ng-hide="comment.allRepliesModerated">

      <div class="people-comment">
        <div class="row no-moderation">
          <div class="col col-top col-10">
            <!-- We need a wrapper with width set for the preload image directive -->
            <div class="user-image-outer">
              <a ng-click="navigateToUserProfile(comment.user)">
                <pre-img ratio="_1_1" helper-class="rounded-image">
                  <img ng-if="comment.avatar" class="user-image" ng-src="{{ comment.avatar }}" spinner-on-load>
                  <img ng-if="!comment.avatar" class="user-image" ng-src="img/not-logged-user.png" spinner-on-load>
                </pre-img>
              </a>
            </div>
          </div>
          <div class="col col-top">
            <div class="row user-data">
              <div class="col">
                <a ng-if="comment.user" class="name" ng-click="navigateToUserProfile(comment.user)">{{ comment.user }}</a>
                <span ng-if="!comment.user" class="name not-logged">{{ comment.commentator_nick }}</span>
                <p class="comment">{{ comment.text }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="replies">
          <div class="reply-comment row" ng-repeat="reply in comment.repliesToModerate" ng-class="{timer : reply.timer}">


            <ion-slide-box show-pager="false" active-slide="1" class="moderation-slider" on-slide-changed="action_reply($index, post[0].fileid, $parent.$parent.$index,comment.repliesToModerate.indexOf(reply))">
              <ion-slide class="reject-comment">

                <div class="bg-progress"></div>
                <h3>odrzuć
                  <i class="ion-android-close"></i>
                </h3>
              </ion-slide>
              <ion-slide class="comment-content">

                <div class="row">

                  <div class="col col-top col-10">
                    <!-- We need a wrapper with width set for the preload image directive -->
                    <div class="user-image-outer">

                      <pre-img ratio="_1_1" helper-class="rounded-image">
                        <a ng-if="reply.reply_avatar" ng-click="navigateToUserProfile(reply.reply_user)">
                          <img class="user-image" ng-src="{{ reply.reply_avatar }}" spinner-on-load>
                        </a>
                        <img ng-if="!reply.reply_avatar" class="user-image" ng-src="img/not-logged-user.png" spinner-on-load>
                      </pre-img>
                    </div>
                  </div>
                  <div class="col col-top">
                    <div class="row user-data">
                      <div class="col">
                        <a ng-if="reply.reply_user" class="name" ng-click="navigateToUserProfile(reply.reply_user)">
                          {{ reply.reply_commentator_nick }}
                        </a>
                        <span ng-if="!reply.reply_user" class="name not-logged">
                          {{ reply.reply_commentator_nick }}
                        </span>
                        <p class="comment" ng-click="">{{ reply.reply_text }}</p>

                      </div>
                    </div>


                  </div>
                </div>
              </ion-slide>
              <ion-slide class="accept-comment">
                <div class="bg-progress"></div>
                <h3>
                  <i class="ion-android-done"></i> akceptuj</h3>
              </ion-slide>
            </ion-slide-box>
          </div>

          <div class="row row-center" ng-hide="true">
            <div class="col">
              <div class="item item-input-inset reply-input">
                <label class="item-input-wrapper">
                  <input type="text" placeholder="Write an odpowiedź">
                </label>
                <button class="send-comment-button button button-small">
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>
