<div class="people-comment" ng-hide="comment.moderated" ng-class="{'no-moderation' : comment.toModerate !== true}">

  <ion-slide-box show-pager="false" active-slide="1" class="moderation-slider" on-slide-changed="action_comment($index, post[0].fileid, comment.cid)">

    <ion-slide class="reject-comment">

      <div class="bg-progress"></div>
      <h3>odrzuć
        <i class="ion-android-close"></i>
      </h3>
    </ion-slide>
    <ion-slide class="comment-content">
      <div class="row">


        <div class="col col-top col-10">
          <!-- We need a wrapper with width set for the preload image directive -->
          <div class="user-image-outer">

            <pre-img ratio="_1_1" helper-class="rounded-image">
              <a ng-if="comment.avatar" ng-click="navigateToUserProfile(comment.user)">
                <img class="user-image" ng-src="{{ comment.avatar }}" spinner-on-load>
              </a>
              <img ng-if="!comment.avatar" class="user-image" ng-src="img/not-logged-user.png" spinner-on-load>
            </pre-img>

          </div>
        </div>
        <div class="col col-top">
          <div class="row user-data">
            <div class="col">
              <a ng-if="comment.user" class="name" ng-click="navigateToUserProfile(comment.user)">{{ comment.commentator_nick }}</a>
              <span ng-if="!comment.user" class="name not-logged">{{ comment.commentator_nick }}</span>
              <div class="comment">{{ comment.text }}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="accept-comment">
      <div class="bg-progress"></div>
      <h3>
        <i class="ion-android-done"></i> akceptuj</h3>
    </ion-slide>

  </ion-slide-box>


</div>
