<ion-modal-view class="modal-view register-modal" style="background-color: rgba(255,255,255,0.9)">
  <ion-header-bar>
      <h1 class="title modal-title">Hasło na blogu</h1>
      <a class="button button-clear" ng-click="modal.hide()">
        <span class="icon ion-close"></span>
      </a>
        </ion-header-bar>
          <ion-content class="padding">
<div class="password-protection">
  <h4>To konto zabezpieczone jest hasłem</h4>
  <div ng-if="profileData.profile.password_note" class="pwd_note">
  {{profileData.profile.password_note}}
</div>
<form>

  <input type="text" placeholder="Podaj hasło do bloga {{profileData.profile.uid}}" ng-model="formPwd">
  <button ng-click="checkFormPwd(formPwd)" class="button pwd-submit" ng-show="formPwd.length > 0">ok</button>
</form>
<div class="assertive">{{error}}</div>

</div>
  </ion-content>
