<div ng-if="isPassword" class="password-locked">
  <i class="icon ion-locked"></i>
  <p>To konto zabezpieczone jest hasłem.</p>
  <button ng-click="modal.show()" class="button button-stable">Podaj hasło</button>
</div>
