<ul ng-repeat="i in [1, 2, 3, 4]" class="placeholder-loader">

  <li class="item-placeholder">
    <div class="avatar grey-bg" ng-if="feed.posts"></div>
    <div class="photo grey-bg"></div>


  </li>
</ul>
