<div class="card-4 postcard" ng-controller="PostCardCtrl">

  <div class="list card">
    <p class="card-description" ng-if="!post.getUserPosts">
      <a class="card-user-name" native-transitions ui-sref="app.{{::tabName}}Profile({uid:post.username})">
        <span class="card-avatar-image-outer">
          <pre-img ratio="_1_1" helper-class="avatar-image rounded-image">
            <img ng-if="post.username_avatar || profileData.profile.avatar" ng-src="{{feed ? post.username_avatar : profileData.profile.avatar }}" spinner-on-load>
            <img ng-if="!post.username_avatar && !profileData.profile.avatar" ng-src="img/not-logged-user.png" spinner-on-load>


          </pre-img>
        </span>
        <span class="name-text">{{feed ? post.username : profileData.profile.uid }}</span>
      </a>

      <button ng-if="profileData && !profileData.profile.is_friend" class="right-button action-button button button-small button-positive" onclick="alert('dodaj do obs.')">
        OBSERWUJ</button>
    </p>
    <div ng-hide="post.password_protected && feed">
    <div class="item item-image" ng-class="{likeAnimation: post.likeAnimation, video: (post.video && postsGrid), album: post.album_count && postsGrid}" on-double-tap="likePut(post.fid)" ng-style="postsGrid && {'background-image': 'url('+'{{post.picture}}'+')'}">
      <!--
         <pre-img ratio="_16_15" helper-class="main-image">
        <img ng-src="{{post.picture}}" spinner-on-load>
      </pre-img>
          -->
        <img ng-hide="(singlePost && post.album_count) ||  post.is_video || postsGrid"  ng-src="{{post.picture}}" alt="" circle-container-style=" position: absolute; left: 50%; top: 50%;margin-left: -38px; margin-top: -38px;"
          color="#eee" bgcolor="#fff" radius="38" stroke="30" ng-style="post.display_width && {width: post.display_width , height: post.display_height}">


          <video ng-if="post.is_video" ng-src="{{post.video}}"  ng-attr-poster="{{post.picture}}" width="100%"  controls style="display: block" ng-hide="postsGrid">


          </video>



        <div ng-hide="postsGrid" ng-if="!singlePost && post.album_count" class="album-thumbs">
          <div ng-repeat="thumb in post.album_photos | limitTo: 3" class="single-album-thumb" " style="background-image: url({{thumb.picture}})">
            <div ng-if="post.album_count > 2 && $last" class="overlay" ui-sref="app.{{::tabName}}SinglePost({postId:post.fid, uid:post.username})">
              <span>ZDJĘĆ: {{post.album_count}}</span>
            </div>
           </div>


        </div>

        <div ng-if="singlePost && post.album_count" class="album-photos">
            <div ng-repeat="photo in post.album_photos | orderBy: 'oreder'" class="album-single-picture">
              <img ng-src="{{photo.picture}}">

              <p ng-if="photo.photo_title">{{photo.photo_title}}</p>

            </div>
          </div>



    </div>
    <div class="item item-actions">

      <button class="action-button icon-left  button button-small" ng-class="{'ion-ios-heart': post.liked, 'ion-ios-heart-outline': !post.liked}" ng-click="toggleLike(post.fid);"></button>
      <!-- <button `class="action-button button button-icon icon ion-android-more-vertical button-small"></button> -->

      <button ng-if="!postId" ng-click="showComments(post)" class="action-button icon-left ion-ios-chatbubble-outline button button-small">
      </button>

      <button ng-if="post.picture_height" ng-click=" vm.slides = [{'src': '{{post.picture}}', 'h': '{{post.picture_height}}', 'w': '{{post.picture_width}}' }]; post.picture_height &&  vm.showGallery(0);" class="action-button icon-left  ion-ios-search button button-small">
      </button>


      <a ng-if="!postId" ui-sref="app.{{::tabName}}SinglePost({postId:post.fid, uid:post.username})" native-transitions class="goto-post dark">
        przejdź do posta</a>

      <hr>
    </div>

    <div class="item item-body">
      <div class="post-actions-numbers">

        <time-ago from-time='{{::post.date}}'></time-ago>
        <span class="pull-right">{{ post.likes }} Fajnych {{ post.comments }} komentarzy</span>
      </div>
      <h2 ng-if="post.title" class="card-title">{{::post.title}}</h2>

      <div class="note-text" ng-if="post.note_html" ng-bind-html="::post.note_html"></div>
    </div>


  </div>
  <div ng-if="post.password_protected && feed">
    <a class="password-protected" ui-sref="app.{{::tabName}}SinglePost({postId:post.fid, uid:post.username})">
      <i class="icon ion-locked"></i>
      <span>To konto zabezpieczone jest hasłem.</span>
    </a>
  </div>



</div>
</div>
