.explore-content {
  ul.explore-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      width: (100% / 3);
      height: 40px;
      vertical-align: middle;
      line-height: 40px;
      text-align: center;
      font-size: 14px;

      &.active {
        border-bottom: 2px solid;
      }
    }
  }

  .explore-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      width: (100% / $explore-column-number);
      height: (640px / 5);
      overflow: hidden;
      vertical-align: middle;
      background-size: cover;
      background-position: center center;
      border: 1px solid white;
      box-sizing: border-box;

      &.big,
      &:nth-child( #{(8 * $explore-column-number - 2 )}n + 1) {
        width: 100%;
        height: 100vw;
      }

      &.loading {
        ion-spinner {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -14px;
          margin-top: -16px;
        }
      }
    }
  }
}
