.feed-view,
.profile-view {
  .post-card-outer .card-4.postcard .card {
    box-shadow: 1px 4px 17px -6px rgba(71,71,71,0.67);
    margin-bottom: 20px;
  }
}

.post-card-outer {
  .card-4.postcard {
    .card {
      margin: 0 0 ($card-4-padding * 1.5);
      border-radius: 0;
      box-shadow: none;

      .item {
        border: 0;

        &.item-body {
          padding: 0 ($card-4-padding * 2);
          border: 0;
          overflow: hidden;

          .post-actions-numbers {
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: $card-4-padding;
            color: $dark;
            text-align: left;

            .pull-right {
              float: right;
            }
          }

          .note-text {
            font-size: 15px;
            margin-bottom: 1em;
            clear: both;

            p {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }

        &.item-image {
          &.likeAnimation {
            &:before {
              font-family: "Ionicons";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              text-rendering: auto;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              display: block;
              animation: animationFrames linear 1s;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              transform-origin: 50% 50%;
              -webkit-animation: animationFrames linear 1s;
              -webkit-animation-iteration-count: 1;
              -webkit-animation-fill-mode: forwards;
              -webkit-transform-origin: 50% 50%;
              -moz-animation: animationFrames linear 1s;
              -moz-animation-iteration-count: 1;
              -moz-transform-origin: 50% 50%;
              -o-animation: animationFrames linear 1s;
              -o-animation-iteration-count: 1;
              -o-transform-origin: 50% 50%;
              -ms-animation: animationFrames linear 1s;
              -ms-animation-iteration-count: 1;
              -ms-transform-origin: 50% 50%;
              content: $ionicon-var-heart;
              font-size: 120px;
              color: $like-heart-color;
              position: absolute;
              left: 50%;
              top: 50%;
              opacity: 0.6;
              margin-left: -54px;
              margin-top: -54px;
            }
          }

          &.album {
            color: black;

            &:after {
              content: "\f148";
              font-family: Ionicons;
              position: absolute;
              top: 2px;
              right: 2px;
              font-size: 16px;
              opacity: 1;
              color: #000;
              opacity: 1;
              text-shadow: -1px 0 rgba(200,200,200,0.4), 0 1px rgba(200,200,200,0.4), 1px 0 rgba(200,200,200,0.4), 0 -1px rgba(200,200,200,0.4);
              text-align: center;
            }
          }

          &.video {
            position: relative;

            &:after {
              content: "\f215";
              font-family: Ionicons;
              position: absolute;
              top: 50%;
              left: 50%;
              font-size: 30px;
              margin-left: -15px;
              margin-top: -15px;
              color: #fff;
              width: 50px;
              text-align: center;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
          }

          .album-thumbs {
            text-align: center;
            font-size: 0;

            .single-album-thumb {
              display: inline-block;
              width: calc(100% / 3);
              height: 120px;
              line-height: 120px;
              background-size: cover;
              position: relative;
              border-left: 1px solid white;
              border-top: 1px solid white;

              &:first-child {
                border-left: none;
              }

              .overlay {
                position: absolute;
                font-size: 20px;
                text-align: center;
                background-color: rgba(255,255,255,0.6);
                width: 100%;
                height: 100%;

                span {
                  vertical-align: middle;
                  line-height: normal;
                }
              }
            }
          }

          .album-photos {
            .album-single-picture {
              display: block;

              img {
                margin-bottom: 10px;
              }

              p {
                margin-bottom: 10px;
                text-align: left;
                padding: 0 5px;
              }
            }
          }
        }

        &.item-actions {
          margin: $card-4-padding*2 0;
          padding: 0 ($card-4-padding * 2);
          border-top: none;
          overflow: hidden;
          text-align: left;

          hr {
            margin-top: $card-4-padding*2;
            display: block;
            height: 0;
            border: 0;
            border-top: 1px solid #eee;
            margin-bottom: 0;
            padding: 0;
          }
        }
      }
    }

    a.moderation-alert {
      margin-top: - $card-4-padding*2;
      margin-bottom: $card-4-padding*2;
    }

    .card-title {
      margin: 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .card-description {
      color: lighten($card-4-color, 45%);
      font-size: 16px;
      margin: ($card-4-padding * 2) 0;
      padding: 0 ($card-4-padding * 2);
      overflow: hidden;
    }

    .card-user-name {
      text-decoration: none;
      color: $link-color;

      .name-text {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        float: left;
        margin-right: 5px;
        font-weight: 500;
      }

      .post-likes {
        display: inline-block;
        height: 25px;
        line-height: 25px;
      }
    }

    a.goto-post {
      display: inline-block;
      text-decoration: none;
      line-height: 25px;
      float: right;
      font-size: 13px;
      vertical-align: middle;
    }

    .card-avatar-image-outer {
      display: inline-block;
      width: 25px;
      height: 25px;
      float: left;
      margin-right: 5px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .action-button {
      padding: 0 5px 0 0;
      height: 25px;
      border: 0;
      min-height: 0;
      min-width: 34px;
      font-size: 11px;
      line-height: 22px;
      font-weight: 600;
      background-color: $card-4-bg;
      border-color: rgba(darken($card-4-bg, 20%), .7);
      color: lighten($card-4-color, 30%);

      &.ion-ios-heart {
        color: $like-heart-color;
      }

      &.right-button {
        float: right;
        margin-left: 4px;
        background: #000;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
      }

      & {
        &::before {
          font-size: 32px;
        }
      }

      &.highlighted-button {
        border-color: darken($card-4-highlighted-bg, 4%);
        background-color: $card-4-highlighted-bg;
        color: $card-4-highlighted-color;
      }
    }
  }

  .password-protected {
    height: 400px;
    margin: 0 10px 10px;
    background: #eee;
    display: block;
    text-decoration: none;
    text-align: center;

    i.icon {
      font-size: 120px;
      color: #666;
      padding: 130px 0 110px;
      text-align: center;
      display: block;
    }
  }
}
@keyframes animationFrames {
  0% {
    visibility: visible;
    transform: rotate(0deg) scale3d(0.0, 0.0, 0.0);
  }

  15% {
    transform: rotate(-3deg) scale3d(0.2, 0.2, 0.2);
  }

  20% {
    transform: rotate(-3deg) scale3d(0.8, 0.8, 0.8);
  }

  30% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  40% {
    transform: rotate(-3deg) scale3d(1.2, 1.2, 1.2);
  }

  50% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  60% {
    transform: rotate(-3deg) scale3d(1.2, 1.2, 1.2);
  }

  70% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  80% {
    transform: rotate(-3deg) scale3d(1.2, 1.2, 1.2);
  }

  90% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: rotate(0deg) scale3d(0,0,0);
    visibility: hidden;
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
  }

  15% {
    -moz-transform: rotate(-3deg) scaleX(0.20) scaleY(0.20);
  }

  20% {
    -moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
  }

  30% {
    -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  40% {
    -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  50% {
    -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  60% {
    -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  70% {
    -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  80% {
    -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  90% {
    -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  100% {
    -moz-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    visibility: visible;
    transform: rotate(0deg) scale3d(0.0, 0.0, 0.0);
  }

  15% {
    transform: rotate(-3deg) scale3d(0.2, 0.2, 0.2);
  }

  20% {
    transform: rotate(-3deg) scale3d(0.8, 0.8, 0.8);
  }

  30% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  40% {
    transform: rotate(-3deg) scale3d(1.2, 1.2, 1.2);
  }

  50% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  60% {
    transform: rotate(-3deg) scale3d(1.2, 1.2, 1.2);
  }

  70% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  80% {
    transform: rotate(-3deg) scale3d(1.2, 1.2, 1.2);
  }

  90% {
    transform: rotate(3deg) scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: rotate(0deg) scale3d(0,0,0);
    visibility: hidden;
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
  }

  15% {
    -o-transform: rotate(-3deg) scaleX(0.20) scaleY(0.20);
  }

  20% {
    -o-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
  }

  30% {
    -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  40% {
    -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  50% {
    -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  60% {
    -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  70% {
    -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  80% {
    -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  90% {
    -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  100% {
    -o-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
  }

  15% {
    -ms-transform: rotate(-3deg) scaleX(0.20) scaleY(0.20);
  }

  20% {
    -ms-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
  }

  30% {
    -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  40% {
    -ms-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  50% {
    -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  60% {
    -ms-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  70% {
    -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  80% {
    -ms-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
  }

  90% {
    -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
  }

  100% {
    -ms-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
  }
}
