<ion-view class="add-view3" view-title="Add" hide-nav-bar="false" cache-view="false">

    <ion-content>
        <form novalidate class="simple-form">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Tytuł" ng-model="post.title" name="title" class="title-input">
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <img ng-src="{{previewPhoto}}" class="preview-photo">
                </div>
                <div class="col col-75">
                    <textarea class="note-body" ng-model="post.note"></textarea>
                </div>
            </div>



            <div class="item item-toggle">
                Komentarze pod wpisem
                <label class="toggle toggle-positive">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
            </div>

            <button class="button button-block button-positive" ng-click="uploadPhoto()">
    Dodaj
    </button>

        </form>
    </ion-content>

    </ion-vew>
