.auth-outer {
	background-color: transparent !important;

	ion-view {
		background-color: transparent;
		box-shadow: none !important; // Need to set this with important to prevent awefull vertical line when transitioning
	}

	ion-header-bar {
		background-color: transparent !important;
		border: none !important;
		background-size: 0 !important; // To remove bottom border on header

		* {
			color: $auth-color;
		}
	}
}

.auth-view {
	// Related navigation
	.related-navigation {
		padding-top: 0;
		padding-bottom: 0;

		.col {
			padding-top: 0;
			padding-bottom: 0;
		}

		.nav-right {
			float: right;
		}

		.nav-left {
			float: left;
		}
	}
	// Related copy
	.related-copy {
		@include headings() {
			color: $auth-color;
			text-align: center;
		}
	}
	// Form
	.form-wrapper {
		.log-in.button,
		.sign-up.button {
			font-weight: 500;
		}

		input {
			@include _placeholder {
				color: darken($auth-color, 30%);
			}
		}
	}

	.form-fields-outer {
		margin: 0;
		padding: 0 16px;

		.item-input {
			padding-left: 0;
			padding-right: 0;
			border-left: none;
			border-right: none;
		}
	}
	// Misc
	.message {
		text-align: center;
		color: lighten($auth-color, 30%);
	}

	.message.error:before {
		content: '*';
		color: $error-color;
		text-shadow: 1px 1px 0 rgba(darken($error-color, 20), .3);
		margin-right: 5px;
		font-size: 20px;
	}
	// Show/Hide password
	.show-hide-input {
		display: inherit;
		width: 100%;
	}

	.toggle-view-anchor {
		position: absolute;
		top: 6px;
		right: 0;
		height: $line-height-computed + $font-size-base;
		line-height: $line-height-computed + $font-size-base;

		* {
			color: darken($auth-color, 20%) !important;
			display: block;
			font-size: 24px;
			width: 45px;
			text-align: center;
			font-weight: 500;
		}
	}
}
