.welcome-view {
	.top-content {
		height: 50%;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);

		.app-copy {
			text-align: center;
			padding-top: 6vh;
		}

		.app-logo {
			margin: 15% auto 10px;
			display: block;
		}

		.slider-pager {
			bottom: 0;
		}

		ion-slide {
			color: #fff;
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			letter-spacing: 1.5px;
			text-shadow: 1px 1px rgba(0,0,0,0.1);

			.slide-header {
				height: 20%;
				line-height: 20%;
				vertical-align: middle;
			}

			h2 {
				display: inline-block;
				font-weight: 300;
			}

			.text {
				height: 80%;
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 1.6em;
			}

			ul {
				list-style: inside circle;
				margin: 30px 0;

				li {
					margin-left: 20px;
					margin-bottom: 20px;
				}
			}

			.fb {
				color: #294886;
			}

			.slide-1 {
				font-size: 18px;

				.text-center {
					width: 284px;
					margin: 15px auto 0;
				}
			}

			.slide-2,
			.slide-3,
			.slide-4 {
				height: 100%;

				h2 {
					color: #fff;
					margin-top: 15px;
					text-transform: uppercase;
					letter-spacing: 0;
					text-shadow: none;
				}

				ul {
					margin: 0 15px;
					list-style-position: outside;

					li {
						text-align: left;
					}
				}
			}
		}

		.slider-pager .slider-pager-page {
			color: #fff;
		}
	}

	.bottom-content {
		height: 50%;

		.facebook-sign-in,
		.google-sign-in,
		.twitter-sign-in {
			color: $auth-social-btn-color;
			font-size: 18px;
			font-weight: 500;

			&:before {
				width: $auth-social-btn-icon-width;
				text-align: center;
				font-size: 32px;
			}

			.btn-copy {
				margin-left: -($auth-social-btn-icon-width);
			}
		}

		.google-sign-in {
			background-color: $google-red;
			border-color: rgba(darken($google-red, 2), .9);
		}

		.facebook-sign-in {
			background-color: $facebook-blue;
			border-color: rgba(darken($facebook-blue, 2), .9);
		}

		.twitter-sign-in {
			background-color: $twitter-blue;
			border-color: rgba(darken($twitter-blue, 2), .9);
		}

		.split-actions {
			padding: 0;

			.col {
				padding-top: 0;
				padding-bottom: 0;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			.button-outline {
				color: $welcome-color;
				border-color: $welcome-color;
				font-weight: 500;
			}
		}

		.other-options-outer {
			// Fix tabs animation on iOS
			// Fix initial blink before angular loaded: http://stackoverflow.com/a/14076004/1116959
			.ng-cloak,
			.x-ng-cloak,
			[data-ng-cloak],
			[ng-cloak],
			[ng\:cloak],
			[x-ng-cloak] {
				display: none !important;
			}
			// Fix animation (weird slide up/down effect)
			.hidden-actions.ng-hide,
			.other-options.ng-hide {
				display: none !important;
			}

			.hidden-actions.ng-hide-remove.ng-hide-remove-active,
			.other-options.ng-hide-add.ng-hide-add-active,
			.other-options.ng-hide-remove.ng-hide-remove-active .hidden-actions.ng-hide-add.ng-hide-add-active {
				@include transition(all 0s ease);
			}

			.other-options {
				color: $welcome-color;
			}
		}

		.legal-notice {
			color: $welcome-color;
			margin: 10px 0;
			text-align: center;

			a {
				text-decoration: none;
				font-weight: 600;
				color: $welcome-color;
			}
		}
	}
}

.register-modal {
	.item-input {
		padding: 6px 15px;

		.show-hide-input {
			width: 100%;
		}

		input {
			&::-webkit-input-placeholder {
				color: #999;
			}
		}

		.login-ok {
			color: green;
		}

		.login-not-ok {
			color: red;
		}
	}

	input.ng-invalid.ng-touched#login {
		color: red;
	}

	.message.error {
		color: red;
		margin-bottom: 20px;
	}
}

.terms-of-service {
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}

	ol {
		list-style-type: decimal;
		list-style-position: inside;
	}

	ol ul,
	ul ul {
		list-style-type: circle;
		list-style-position: inside;
		margin-left: 15px;
	}

	ol ol,
	ul ol {
		list-style-type: lower-latin;
		list-style-position: inside;
		margin-left: 15px;
	}
}
