.feed-view ion-content {
	background-color: #eee;
}

ion-nav-bar {
	&.feed-color {
		ion-header-bar {
			background-color: $feed-bar-bg !important;
			background: $feed-bar-bg !important;
			border: none !important;
			background-size: 0 !important; // To remove bottom border on header
		}

		* {
			color: $feed-bar-color;

			.buttons button::before {
				color: $feed-bar-color;
			}
		}
	}
}

.feed-view {
	background-color: $feed-content-bg;

	.scroll-refresher {
		* {
			color: $feed-content-color;
		}

		.spinner {
			stroke: $feed-content-color;
		}
	}

	ion-infinite-scroll {
		* {
			color: $feed-content-color;
		}

		.spinner {
			stroke: $feed-content-color;
		}
	}

	.item.item-image {
		img {
			width: auto;
			max-width: 100%;
			max-height: 70vh;
		}
	}
}
