.tabs-light .tab-item .icon {
	color: $base-color;
}

.bar.bar-light .title {
	color: $base-color;
}

.menu-outer {
	ion-item {
		background: transparent;
		border: none;
		color: rgba(darken($menu-color, 2%), .7);
		border-left: 4px solid transparent;

		.item-content {
			background: transparent;

			&.activated {
				border-color: transparent;
				background-color: transparent;
				color: $menu-color;

				.menu-text {
					color: $menu-color;
				}
			}
		}

		&.active {
			border-color: transparent;
			background-color: transparent;
			border-left-color: $menu-active-bg;

			.item-content {
				border-color: transparent !important;
				background-color: transparent !important;
				color: $menu-color !important;
			}

			.menu-text {
				color: $menu-color;
				font-weight: 500;
			}
		}

		.menu-icon {
			font-size: 22px;
		}

		.menu-text {
			color: rgba(darken($menu-color, 2%), .7);
			margin-left: -5px;
		}
	}

	.user-item {
		.item-content {
			padding: 8px 16px;
		}

		.user-image-outer {
			width: $menu-user-img-width;
			margin-left: -6px;
			float: left;

			.pre-img {
				overflow: hidden;
			}

			.user-image {
				width: 100%;
				border-radius: 50%;
			}
		}

		.menu-text {
			height: $menu-user-img-width;
			line-height: $menu-user-img-width;
			margin-left: 6px;
			margin-bottom: 0;
			float: left;
		}

		.user-inbox {
			position: relative;
			float: right;

			.menu-icon {
				font-size: 34px;
				margin-right: 10px;
				right: 0;
				position: absolute;
			}

			.inbox-unread {
				right: 3px;
				position: absolute;
				top: -3px;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				background-color: $menu-active-bg;
				font-size: 11px;
				text-align: center;
				line-height: 16px;
				font-weight: 600;
			}
		}
	}

	.full-width-item {
		border-left: none;

		.item-content {
			padding: 0;
		}

		.button {
			margin: 0;
			background-color: $menu-active-bg;
			border-color: darken($menu-active-bg, 4);
			color: $menu-color;
			padding: 0 16px;
		}
	}

	.menu-bottom-options,
	.menu-top-options {
		padding: 0;
		margin: 0;

		.col {
			padding: 0;
		}
	}

	.menu-top-options {
		height: $menu-top-options-height;
		padding-top: 10vh;
	}

	.menu-bottom-options {
		height: (100 - $menu-top-options-height);

		ion-item {
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
/* workaround dla lewego menu, aby nie pokazywała się ikonka na stronach z back buttonem */
.buttons.buttons-left.header-item {
	display: none;
}

.bar .back-button.hide + .buttons.buttons-left.header-item {
	display: block;
}
/* powiadomienia z prawej */
.right-buttons .badge {
	position: absolute;
	right: -3px;
	bottom: -3px;
	top: auto;
	font-size: 10px;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 10px;
	font-weight: bold;
}
/* tabsy na widoku przegladaj */
.shop-view div.tab-nav.tabs {
	z-index: 9999999;
	bottom: 72px;
	height: 40px;

	.tab-item {
		line-height: 25px;
		vertical-align: middle;
	}
}
