.notifications.content {
  color: #000;

  a.item {
    padding: 6px 4px;
    border-color: #efefef;
    position: relative;

    &.unread {
      background: #f6f6f6;

      &:after {
        font-family: "Ionicons";
        content: "\f21b";
        position: absolute;
        right: 20px;
        top: 30%;
        font-size: 10px;
        color: $theme-color-2;
      }
    }

    img.thumb {
      height: 40px;
      float: left;
      margin-right: 15px;
    }

    .notification-text {
      font-size: 13px;
      white-space: normal;
      overflow: hidden;

      strong {
        font-weight: 500;
      }

      .date {
        display: block;
        font-size: 10px;
        color: #999;

        strong {
          font-weight: 500;
        }

        i.ion-heart {
          vertical-align: middle;
        }
      }
    }
  }
}
