ion-nav-bar {
	ion-header-bar {
		color: $base-color;
	}

	* {
		color: $base-color;

		.buttons button::before {
			color: $base-color;
		}
	}
}

#loading-bar .bar {
	padding: 1px;
}

network-error {
	position: fixed;
	width: 100%;
	bottom: 48px;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
	background: rgba(0,0,0,0.8);
	font-weight: 500;
	color: #fff;
	display: none;
	z-index: 10;
	height: $bar-height;
	line-height: $bar-height;

	&.showAnim {
		display: block;
		animation: slideFade ease 1s;
		transform-origin: 50% 50%;
		-webkit-animation: slideFade ease 1s;
		-webkit-transform-origin: 50% 50%;
		-webkit-animation-fill-mode: forwards;
	}

	&.hideAnim {
		display: block;
		animation: slideFade ease 1s;
		animation-direction: reverse;
		transform-origin: 50% 50%;
		-webkit-animation: slideFade ease 1s;
		-webkit-animation-direction: reverse;
		-webkit-transform-origin: 50% 50%;
		-webkit-animation-fill-mode: forwards;
	}
	@keyframes slideFade {
		0% {
			opacity: 0;
			transform: translate(0px,-25px);
		}

		100% {
			opacity: 1;
			transform: translate(0px,0px);
		}
	}
	@-webkit-keyframes slideFade {
		0% {
			opacity: 0;
			-webkit-transform: translate(0px,-25px);
		}

		100% {
			opacity: 1;
			-webkit-transform: translate(0px,0px);
		}
	}
}
// Preload images aux styles (ratios)
// Auto generate ratios for the whole app (see: http://stackoverflow.com/a/18120181/1116959)
@each $ratio in $pre-img-ratios {
	.pre-img._#{nth($ratio, 1)}_#{nth($ratio, 2)} {
		// Conserve aspect ratio (see: http://stackoverflow.com/a/10441480/1116959)
		width: 100%;
		padding-bottom: #{percentage(nth($ratio, 2) / nth($ratio, 1))};
	}
}

.pre-img {
	position: relative;
	background-color: $pre-img-bg;
	// If the image is rounded
	&.rounded-image {
		border-radius: 50%;
	}

	&.finish-loading {
		background-color: transparent;
		border: none;

		img {
			visibility: visible;
			opacity: 1;
		}
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		@include transition(visibility 0s linear, opacity 0.5s linear);
	}
}
// spinner-on-load
@include keyframes(spin) {
	from {
		@include transform(rotate(0deg));
	}

	to {
		@include transform(rotate(359deg));
	}
}

.spinner-on-load {
	position: absolute;
	font-size: $spinner-size;
	width: $spinner-size;
	height: $spinner-size;
	line-height: $spinner-size;
	color: $spinner-color;
	@include animation(spin 2s infinite linear);
	@include calc(top, "50% - #{($spinner-size/2)}");
	@include calc(left, "50% - #{($spinner-size/2)}");
}

ion-spinner.spinner-on-load {
	@include animation(none);
	stroke: $spinner-color;
	width: $spinner-svg-size;
	height: $spinner-svg-size;
	line-height: inherit;
	@include calc(top, "50% - #{($spinner-svg-size/2)}");
	@include calc(left, "50% - #{($spinner-svg-size/2)}");
}
// Multimedia background

.multi-bg-outer {
	position: relative;
	background-color: rgba(darken($multi-bg, 10%), 0.7);
	height: 100%;
	@include transition(all ease-in-out .3s);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;

	&.finish-loading {
		background-color: transparent;
	}

	.bg-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $overlay-bg;
		z-index: -1;
		opacity: 0.6;
	}

	.multi-bg {
		display: none;
	}
}

.modal-view {
	background-color: $modal-bg;

	ion-header-bar {
		background-color: $modal-bg;
	}

	* {
		color: $modal-text-color;
	}

	.modal-title {
		font-size: 22px;
		font-weight: 400;
		font-size: 16px;
	}
}

.col-100 {
	@include flex(0 0 100%);
	max-width: 100%;
}

.loading-container .loading {
	background-color: $loading-background-color;

	* {
		color: darken($loading-color, 5);
		font-weight: 500;
	}
}

.buttons.buttons-left.header-item {
	display: none;
}

.bar .back-button.hide + .buttons.buttons-left.header-item {
	display: block;
}

a.moderation-alert {
	display: block;
	text-align: left;
	background-color: $theme-color-2;
	color: $base-background-color;
	text-decoration: none;
	padding: 20px 5px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;

	.left-icon {
		font-size: 24px;
		margin-right: 5px;
		margin-left: 10px;
		vertical-align: middle;
	}

	i.go-icon {
		float: right;
		margin-right: 10px;
		font-size: 24px;
	}
}

.scroll-refresher {
	z-index: 9999;
	height: 70px;
}

.icon-pulling,
.icon-refreshing {
	i,
	ion-spinner {
		padding: 10px;
		border-radius: 50%;
		background: #fff;
		width: 48px;
		height: 48px;
		display: inline-block;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	}

	i.ion-ios-refresh-empty:before {
		font-size: 41px;
		margin-top: -6px;
	}
}
//nadpisujemy #loading-bar .bar poniewaz jego styl jest nadpisywany przez ionicowe cssy a nie da sie zmienic jego klasy wewnatrz biblioteki

body #loading-bar {
	all: unset;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	.bar {
		all: unset;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		background: #29d;
		position: absolute;
		z-index: 10002;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		//border-bottom-right-radius: 1px;
		//border-top-right-radius: 1px;
	}
}

body.platform-ios ion-view {}

ul.placeholder-loader {
	background: #fff;

	li {
		height: 325px;
		margin: 0 5px;

		.avatar {
			width: 25px;
			height: 25px;
			margin: 5px;
			border-radius: 50%;
		}

		.photo {
			width: 100%;
			height: 290px;
		}

		.grey-bg {
			background: #eee;
			background: linear-gradient(0deg, #f1f1f1, #d1d1d1);
			background-size: 400% 400%;
			-webkit-animation: placeholder-loading-animation 3s ease infinite;
			-moz-animation: placeholder-loading-animation 3s ease infinite;
			animation: placeholder-loading-animation 3s ease infinite;
			@-webkit-keyframes placeholder-loading-animation {
				0% {
					background-position: 50% 0;
				}

				50% {
					background-position: 51% 100%;
				}

				100% {
					background-position: 50% 0;
				}
			}
			@-moz-keyframes placeholder-loading-animation {
				0% {
					background-position: 50% 0;
				}

				50% {
					background-position: 51% 100%;
				}

				100% {
					background-position: 50% 0;
				}
			}
			@keyframes placeholder-loading-animation {
				0% {
					background-position: 50% 0;
				}

				50% {
					background-position: 51% 100%;
				}

				100% {
					background-position: 50% 0;
				}
			}
		}
	}
}

,
input:-webkit-autofill {
	background: white !important;
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
