// Modal
$modal-bg: #fcfcfc;
$modal-text-color: #444; // Images - Preload images
$pre-img-bg: rgba(lighten(#666666, 15%), .25); // Images - Preload images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: #FFFFFF; // Images - Multimedia background
$multi-bg: darken(#666666, 30%);
$overlay-bg: transparent; //darken(#fcfcfc, 80%);
$pre-img-ratios: ();
$loading-color: #444;
$loading-background-color: #DDD;
$default-bar-color: #FFFFFF;
$default-bar-bg: $theme-color-1;
$button-stable-text: #000;
$like-heart-color: #E46A6A;
