.password-protection {
  padding: 5px;

  input {
    border: 1px solid #eee;
    margin: 5%;
    width: 90%;
    padding: 5px;

    &::-webkit-input-placeholder {
      color: #ccc;
    }
  }

  button.pwd-submit {
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: -50px;
    margin-right: 18px;
    float: right;
  }

  .pwd_note {
    text-align: center;
    background: #fafafa;
    padding: 10px;
    margin: 5%;
    width: 90%;
  }
}

.password-locked {
  text-align: center;

  .icon.ion-locked {
    font-size: 120px;
    color: #666;
    margin: 20px auto;
    text-align: center;
    display: block;

    &::before {}
  }
}
