.comments-list {
	.people-comment {
		padding: 0;
		margin-bottom: 5px;

		&:last-child {}

		& > .col:first-child {
			padding-left: 0;
		}

		.user-image-outer {
			.user-image {
				width: 100%;
			}

			.rounded-image .user-image {
				border-radius: 50%;
			}
		}

		.user-data {
			padding: 0;

			.col {
				padding: 0;
			}

			.name {
				display: block;
				font-size: 14px;
				line-height: 14px;
				font-weight: bold;
				text-decoration: none;
				margin-bottom: 4px;

				&.notLogged {
					font-weight: normal;
					font-style: italic;

					&:before {
						content: '~';
					}
				}
			}

			.comment {
				display: block;
				margin: 0;
				font-size: 14px;
				line-height: 16px;
				line-height: 1.2em;
			}
		}
	}

	.reply-comment {
		margin-top: 5px;
	}

	.cant-comment-info {
		text-align: center;

		strong {
			font-weight: 500;
		}
	}
}

.new-comment-outer,
.new-reply-outer {
	bottom: 0;
	right: 0;
	background-color: $popup-bg;
	border-radius: 0 0 4px 4px;
	height: $new-comment-height;
	padding: $popup-padding;

	form {
		width: 100%;
	}

	& > .col {
		padding: 0;
	}

	.item-input-wrapper {
		border-radius: 2px;
		height: 34px;
	}

	.item-input-inset {
		padding: 0;
		border: none;
		background: transparent;
		margin: 0;
	}

	.send-comment-button {
		height: 34px;
	}

	input {
		@include _placeholder {
			color: lighten($popup-color, 30%);
		}
	}
}

.replies {
	margin-left: -5%;

	.item {
		border: 0;
		background-color: transparent;
		-webkit-text-fill-color: rgb(96, 96, 96);
		padding: 0;
		position: static;
	}
}

.singlepost-view {
	.comments-list .people-comment > .col:first-child {
		padding: 5px 5px 5px 10px;
	}

	.col-20 {
		max-width: 17%;
	}

	.post-card-outer .card-4 .card .item.item-actions {
		border: 0;
	}
}
