<ion-modal-view class="modal-view register-modal" style="background-color: rgba(255,255,255,0.9)">
  <ion-header-bar>
    <h1 class="title modal-title">Rejestracja</h1>
    <a class="button button-clear" ng-click="register.hide()">
      <span class="icon ion-close"></span>
    </a>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="row form-wrapper">
      <div class="col">
        <div class="register">
          <form name="register_form" class="" novalidate ng-model-options="{ updateOn: 'blur' }">
            <div class="form-fields-outer list list-inset">
              <label class="item item-input">
                <input type="text" ng-class="{'login-not-ok': register_form.login.$valid && !is_login_available}" placeholder="Login" name="login" id="login" ng-model="newUser.login"
                    maxlength="24" ng-pattern="login_validation_regex" required>
                  <i class="ion-checkmark-round login-ok" ng-show="register_form.login.$valid && is_login_available" ng-hide="!is_login_available"></i>

              </label>

              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Hasło" name="password" ng-model="newUser.password" maxlength="16" required show-hide-input>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Powtórz hasło" name="password" ng-model="newUser.repeatPassword" maxlength="16" required show-hide-input>
              </label>
            </div>

            <div class="message error passwords-error" ng-show="!passwordsMatch" ng-hide="passwordsMatch">
              Hasła różnią się. Wpisz w oba pola to samo hasło.

            </div>

            <div class="message error login-error" ng-show="!register_form.login.$valid && register_form.login.$viewValue.length > 0 && register_form.login.$touched">
              Login musi mieć co najmniej 4 znaki, lecz nie więcej niż 24. Możesz użyć wyłącznie z liter i cyfr.

            </div>

            <div class="message error login-unavailable" ng-show="!is_login_available" ng-hide="is_login_available || is_login_available === null">
              Niestety, ten login jest już zajęty. Spróbuj wybrać inny.
            </div>


            <button type="submit" class="log-in button button-block button-positive" ng-click="doRegister()" ng-disabled="register_form.$invalid">
              Zarejestruj się
            </button>

          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
-modal-view>
