.moderation-view {
  .moderation-post-preview {
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;

    img {
      margin-top: -35%;
    }
  }

  .moderation-slider .slider-slides {
    display: table;

    .slider-slide {
      display: table-cell;
      float: none;
      width: 33%;
      vertical-align: middle;
    }
  }

  ion-slide {
    &.reject-comment {
      // @include linear-gradient(left, #c72200 1%, #ff8484 59%, #ff999a 100%);
      background: #c72200;
      text-align: right;
      padding-right: 15px;

      .bg-progress {
        background-color: #ff2c00;
      }
    }

    &.accept-comment {
      // @include linear-gradient(left, #8cccb7 0%,#299a0b 100%);
      background-color: #299a0b;
      text-align: left;
      padding-left: 15px;

      .bg-progress {
        background: #37d40e;
      }
    }

    h3 {
      color: #fff;
      font-weight: 200;
      margin: 0;
      z-index: 10;
      position: relative;
      vertical-align: middle;
    }

    &.comment-content {
      border-left: 4px solid #ff999a;
      border-right: 4px solid #8cccb7;
    }

    .bg-progress {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translate3d(0,0,0) scaleX(0.00);
      top: 0;
      left: 0;
    }
  }

  .comment-outer,
  .reply-comment {
    &.timer {
      animation: hideComment linear 2.5s;
      -webkit-animation: hideComment linear 2.5s;
      animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;

      .bg-progress {
        animation: progressGrow linear 2s;
        animation-iteration-count: 1;
        -webkit-animation: progressGrow linear 2s;
        -webkit-animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
      }
    }

    .no-moderation {
      opacity: 0.6;
    }

    .replies {
      margin-left: 40px;
    }
  }
}
@keyframes progressGrow {
  0% {
    transform: translate3d(0,0,0) scaleX(0.00);
  }

  100% {
    transform: translate3d(0,0,0) scaleX(1.00);
  }
}
@keyframes hideComment {
  0% {
    transform: translate3d(0,0,0) scaleY(1.00);
  }

  75% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    height: 100%;
  }

  100% {
    display: none;
    height: 0;
    opacity: 0;
  }
}
