.profile-view ion-content {
	background-color: #eee;
}

ion-nav-bar {
	&.profile-color {
		ion-header-bar {
			background-color: $profile-bar-bg !important;
			background: $profile-bar-bg !important;
			border: none !important;
			background-size: 0 !important; // To remove bottom border on header
		}

		* {
			color: $profile-bar-color;

			.buttons button::before {
				color: $profile-bar-color;
			}
		}
	}
}

.profile-view {
	.slider-slides {
		background-color: $profile-bg;
	}

	&.own-profile {
		.slider-slides {
			background-color: $own-profile-bg;
		}

		.user-interactions {
			.split-actions {
				.button {
					&.activated,
					&.highlighted {
						background-color: $own-profile-bg;
						border-color: rgba(darken($own-profile-bg, 2%), .7);
					}
				}
			}

			.user-interaction {
				.user-interaction-tab {
					&.active {
						color: $own-profile-bg;
					}
				}
			}
		}
	}

	.profile-data {
		height: 35vh;
		padding: 0 0 5px;

		& > .col {
			padding: 0;
			height: 100%;
		}
	}

	.profile-slides {
		height: 100%;

		.slide-content {
			height: 100%;
			padding-bottom: $profile-pager-height;
			text-align: center;
		}

		.user-data {
			.user-image-outer {
				// If we are going to use the preload image directive, then the wrapper of the image must have width set
				width: $profile-image-width;
				display: inline-block;
			}

			.user-image {
				width: 100%;
				border-radius: 50%;
				border: $profile-image-border solid $profile-color;
			}

			.user-name {
				margin: 0;
				font-size: 18px;
				color: $profile-color;
			}

			.user-resume {
				margin: 5px 0 0;
				font-size: 14px;
				color: $profile-color;
			}
		}

		.slider-pager {
			height: $profile-pager-height;
			line-height: $profile-pager-height;
			bottom: 0;

			.slider-pager-page {
				color: $profile-color;
				font-size: 10px;
			}
		}
	}

	.user-interactions {
		background-color: $profile-user-content-bg;
		//border-bottom: 10px solid rgba(darken($profile-user-content-bg, 10%), .8);
		.split-actions {
			padding: 10px 0 0;

			.button {
				margin: 0;
				border-radius: 5px;
				background-color: rgba(lighten($profile-bg, 25%), .5);
				border-color: rgba(lighten($profile-bg, 25%), .7);
				min-height: $profile-user-interaction-height;
				line-height: $profile-user-interaction-height;
				font-weight: 600;
				color: $profile-bg;

				&.activated,
				&.highlighted {
					background-color: $profile-bg;
					border-color: rgba(darken($profile-bg, 2%), .7);
					color: $profile-color;
				}
			}

			.col {
				padding-top: 0;
				padding-bottom: 0;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			.settings-button {
				background-color: lighten($profile-inactive, 2%);
				border-color: lighten($profile-inactive, 2%);
				color: darken($profile-inactive, 30%);
			}
		}

		.user-interaction {
			margin: 5px 0 0;
			height: $profile-user-interaction-height;
			line-height: $profile-user-interaction-height;
			text-align: center;
			font-size: 16px;

			.user-interaction-tab {
				text-decoration: none;
				color: darken($profile-inactive, 20%);

				&.active {
					color: $profile-bg;
				}
			}

			&:first-child {
				border-right: 2px solid rgba(darken($profile-user-content-bg, 10%), .8);
				padding-right: 3px;
			}
		}
	}

	.profile-sub-views {
		height: initial;
		position: relative;

		.profile-likes,
		.profile-posts {
			height: initial;
			bottom: initial;
			position: relative;
		}

		.user-related-content {
			background-color: $profile-user-content-bg;
			margin-top: 0;
			position: relative;
			@include flex-wrap(wrap);
			padding: 0;
		}

		.user-related-content-item {
			padding: 0;
		}
	}

	.profile-posts.grid {
		.user-related-content {
			width: 33.33333%;
			display: inline-block;
			padding: 0;
		}

		.user-related-content-item {
			flex: initial;
			height: 100px;
			overflow: hidden;
			padding: 0;
			border: 1px solid white;
		}

		.post-card-outer .card-4 .card {
			.item.item-image img {
				min-height: 100px;
				vertical-align: middle;
				min-width: 100%;
				max-width: 180%;
			}

			.item.item-image {
				position: relative;
				height: 100px;
				background-size: cover;
				background-position: 50% 50%;
			}

			.item.item-actions .action-button,
			.item.item-body {
				display: none;
			}

			.item.item-actions {
				position: absolute;
				background-color: transparent;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;

				.goto-post {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-indent: -1000px;
				}

				hr {
					display: none !important;
				}
			}
		}
	}

	.postsview {
		font-size: 24px;
	}

	.row.postsview-row {
		background-color: $base-background-color;
	}
}
